byroo
cache
code
commands.R
data
ds_survival_mothers.md
ds_survival_mothers.Rmd
entryexit2013.Rproj
.git
.gitignore
index.md
index.Rmd
load_merge.md
load_merge.Rmd
missing.md
missing.Rmd
papers
.RData
.RDataTmp
README.md
.Rhistory
Rplot.png
.Rproj.user
subset.md
subset.pdf
subset.Rmd
survival
synnyttaneet.png
temp
template.Rmd
knit.R