.Rproj.user
.Rhistory
.RData
.RDataTmp
byroo
cache
entryexit2013.Rproj
index.md
load_merge.md
missing.md
subset.md
temp
template.Rmd
data
Rplot.png
subset.pdf
synnyttaneet.png
ds_survival_mothers.md
papers
survival
subset.html.!sync
